body {background-color: darkgray;
}

#burger-menù {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    background: transparent;
    width: 50px;
    height: 60px;
    border-width: 0px;
    transform: translateY(+50%);
    cursor: pointer;
    z-index: 2;
}

.click {
transform: translateY(+100%);
opacity: 0;
  }


.click:hover {
    display: block;
    opacity: 100;
}


.top-strip,
.medium-strip,
.bottom-strip {
    width: 70px;
    height: 5px;
    background-color: black;
    border-radius: 5px;
    margin-bottom: 5px;

    
}

#burger-menù:hover>.top-strip {
 background-color: rgb(201, 24, 24);
 box-shadow: #F00 0px 0px 10px 1px;
 animation-name: t-saber;
 animation-duration: 100s;
}


@keyframes t-saber {
    1% {transform: rotate(-45deg);}
    100% {transform: rotate(-45deg);}
}


#burger-menù:hover>.medium-strip {
    background-color: rgb(24, 201, 62);
 box-shadow: rgb(10, 163, 127) 0px 0px 10px 1px;
 animation-name: m-saber;
 animation-duration: 100s;
}

@keyframes m-saber {
    0% {transform: translateY(-6000%);}
}


#burger-menù:hover>.bottom-strip {
    background-color: rgb(52, 15, 173);
 box-shadow: rgb(96, 11, 200) 0px 0px 10px 1px;
 animation-name: b-saber;
 animation-duration: 100s;
}

@keyframes b-saber {
    0% {
   position: relative;
bottom: 21px;}

1%{transform: rotate(235deg)}   
100% {transform: rotate(235deg)}
}

.top-strip-inside {
    background-color: white;
    width: 10px;
    height: 5px;
    margin-left: 10px;
}

.medium-strip {
    display: flex;
    justify-content: end;
    cursor: pointer;
}


.medium-strip-inside {
    background-color: white;
    width: 10px;
    height: 5px;
    margin-right: 10px;
}


.bottom-strip-inside {
    background-color: white;
    width: 10px;
    height: 5px;
    margin-left: 10px;
    cursor: pointer;
}



.loader {
    margin-top: 100px;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}



.ball-wrapper {
    height: 70px;
    position: relative;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}



.ball { 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    position: relative;
}

.ball::after {
    content: '';
    position: absolute;
    left: 0px;
    top: 170px;
    right: 0;
    bottom: 0px;
    box-shadow: 0px 20px 10px 3px rgba(10, 5, 5, 0.22);
}

.ball:first-child {
    background: linear-gradient(90deg, rgb(1, 6, 69) 0%, rgb(63, 9, 97) 100%);
}


.ball:nth-child(2) {
    background: linear-gradient(90deg, rgb(46, 7, 70) 0%, rgb(112, 9, 85) 100%);
}

.ball:nth-child(3) {
    background: linear-gradient(90deg, rgb(83, 8, 63) 0%, rgb(131, 9, 68) 100%);
}

.ball:nth-child(4) {
    background: linear-gradient(90deg, rgb(114, 8, 59) 0%, rgb(161, 11, 53) 100%);
}

.ball:nth-child(5)  {
    background: linear-gradient(90deg, rgb(145, 2, 43) 0%, rgba(192, 5, 32, 1) 100%);
}

.ball:nth-child(6) {
    background: linear-gradient(90deg, rgba(192, 5, 32, 1) 0%, rgb(224, 3, 16) 100%);
}

.ball:last-child {
    background: linear-gradient(90deg, rgb(205, 2, 16) 0%, rgb(255, 2, 2) 100%);
}


.ball:nth-child(1) {
    position: absolute;
    bottom: 21px;
    left: -50px;
    animation: left 2s linear infinite alternate-reverse;
}

.ball:nth-child(7) {
    position: absolute;
    bottom: 20px;
    left: 250px;
    animation: right 2s linear infinite alternate-reverse;
    animation-delay: 1s;
    
    
}


@keyframes left {  
    0%  {
        transform: rotate(0deg);
      } 

  25% {
    transform: rotate(0deg);
  } 

 50% {
    transform: rotate(45deg) translate(-150px);
  } 

  75% {
    transform: rotate(0deg);
  } 

 100%  {
        transform: rotate(0deg);
      }   
    }
     
    

@keyframes right {
    0% {
        transform: rotate(0deg);
      }

        25% {
            transform: rotate(0deg);
          }

          50% {
            transform: rotate(-45deg) translate(150px);
          }

          75% {
            transform: rotate(0deg);
          }
        
          100% {
            transform: rotate(0deg);
          }
        }
  
  

 

