body,
html {
    height: auto;
    margin: 0px;



}



.section1 {
    width: 100%;
    height: 500px;
    background-color: #ED4C5C;
    display: flex;
    flex-direction: row;

}






.text1 {
    height: 107px;
    width: 445px;
    font-family: Lato;
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
    color: white;
    margin-left: 165px;
    margin-top: 122px;

}


.text2 {
    height: 64px;
    width: 445px;
    color: white;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: justified;
    margin-left: 165px;
    margin-top: 24px;
    margin-right: 81px;

}





.vector1 {
    margin-right: 28px;
    height: 28px;
    width: 28px;
    margin-top: 42px;
    margin-left: 165px;

}


.vector2 {
    margin-right: 25px;
    height: 28px;
    width: 28px;
    margin-top: 42px;


}


.vector3 {

    height: 24px;
    width: 24px;
    margin-top: 44px;

}


.photos {
    display: flex;
    flex-direction: row;
    width: 533px;


}

.leftphoto {


    margin-top: 116px;
    height: 267px;
    width: 383px;
    border-radius: 15px;
    opacity: 50%;

}

.centralphoto {

    margin-top: 94px;
    height: 311px;
    width: 445px;
    border-radius: 15px;
    transform: translateX(-75%);
    z-index: 3;

}




.rightphoto {

    margin-top: 116px;
    margin-right: 216px;
    height: 267px;
    width: 383px;
    border-radius: 15px;
    opacity: 50%;
    transform: translateX(-174%);



}



.section2 {
    width: 100%;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: row;


}


.text3 {
    margin-top: 117px;
    margin-left: 176px;
    height: 107px;
    width: 445px;
    font-family: Lato;
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
    color: black;

}


.text4 {
    margin-left: 176px;
    width: 434px;
    font-family: Lato;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;

}

.right {
    margin-top: 117px;
    margin-left: 125px;

}

.form {
    display: flex;
    flex-direction: column;
    display: inline-block;
}


.firstname {
    height: 60px;
    width: 230px;
    border-radius: 6px;
    border-width: 0.1px;
    margin-bottom: 24px;
    margin-right: 30px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #13274380;
    padding-left: 31px;

}






.lastname {
    height: 60px;
    width: 230px;
    border-radius: 6px;
    border-width: 0.1px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #13274380;
    padding-left: 31px;
}


.form2 {
    display: flex;
    flex-direction: column;
}

.phonenumber {
    height: 60px;
    width: 530px;
    border-radius: 6px;
    border-width: 0.1px;
    margin-bottom: 24px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #13274380;
    padding-left: 31px;
}



.menu {
    height: 60px;
    width: 564px;
    border-radius: 6px;
    border-width: 1px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #13274380;
    padding-left: 31px;
}






.btn1 {
    height: 50px;
    width: 160px;
    border-radius: 6px;
    background: #ED4C5C;
    border: 1.5px;
    color: white;
    margin-top: 27px;

}


.section3 {
    width: 100%;
    height: 500px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: row;

}


.text5 {
    height: 22px;
    width: 65px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    margin-left: 166px;
    margin-right: 70px;
    margin-top: 85px;
    color: #101010;
}


.text6 {
    margin-top: 33px;
    height: 54px;
    width: 254px;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #101010;
}


.text7 {
    margin-top: 141px;
    height: 14px;
    width: 155px;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    color: #101010;
}


.text8 {
    height: 22px;
    width: 65px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    margin-left: 166px;
    margin-top: 85px;
    margin-right: 217px;

    color: #101010;
}

.text9 {
    height: 114px;
    width: 254px;
    margin-top: 28px;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: #101010;
}



.text10 {
    height: 22px;
    width: 101px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    margin-right: 187px;
    margin-top: 85px;
    text-align: center;
    color: #101010;
}


.text11 {
    margin-top: 33px;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #101010;
}


.text12 {
    margin-top: 11px;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    color: #101010;
}



.vectors {
    display: flex;
}


.facebooklogo {
    height: 12.666667938232422px;
    width: 7.416667938232422px;
    margin-right: 10px;
    margin-left: 0.1px;
}

.instagramlogo {
    margin-right: 10px;
    transform: translateY(-13.5%);
}


.twitterlogo {
    height: 12.467147827148438px;
    width: 12.833332061767578px;
    transform: translateY(+5%);
}



.text13 {
    margin-top: 85px;
    height: 22px;
    width: 96px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    color: #101010;


}


.logos {
    margin-top: 33px;
    height: 31px;
    width: 216px;

}