@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Open+Sans:wght@400;500;600;700;800&display=swap');

html, 
body { 
    background-color: #f6fafd;
    height: auto;
    width: 100%;
    margin: 0px;
}


.header {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1280px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 50px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;      
    margin-top: 30px;
    z-index: 3;
    
}


.logo { grid-area: 1 / 1 / 2 / 2; }
.text { grid-area: 1 / 2 / 2 / 6; }
.mail { grid-area: 1 / 6 / 2 / 8; }
.phone { grid-area: 1 / 8 / 2 / 10; }
.button { grid-area: 1 / 10 / 2 / 11; }



.logo {
height: 54px;
width: 136px;
border-radius: 0px;
}


.text {
    margin-left: 54px;
}


.main-page {
    text-decoration: none;
    font-style: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: #111111;
    margin-right: 40px;
}



.apartaments {
    text-decoration: none;
    font-style: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: #111111;
    margin-right: 40px;
}



.contacts {
    text-decoration: none;
    font-style: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: #111111;
    margin-right: 40px;
}

.about-us-position {
    position: relative;
}

.about-us {
    position: absolute;
    left: 330px;
    top: -20px;
    width: 48px;
    text-decoration: none;
    font-style: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: #111111;

}


.wrapper {
    position: relative;
}

.e-mail-button {
    position: absolute;
    left: 25px;
    top: -20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    z-index: 1;

}

.mail {
width: 40px;
height: 40px;

}


.mail-icon {
    transform: translateX(-145%);
    margin-top: 5px;
}


.mail-text {
height: 20px;
width: 130px;
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-align: left;
color: white;
margin-right: 20px;
}


.phone-button {
    position: absolute;
    left: 215px;
    top: -20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-left: 20px;
    z-index: 1;

}

.phone {
width: 40px;
height: 40px;

}


.phone-icon {
    transform: translateX(-160%);
    margin-top: 5px;
}


.phone-text {
height: 20px;
width: 150px;
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-align: left;
color: white;
margin-right: 10px;
}



.button {
    height: 50px;
    width: 218px;
    border-radius: 25px;
    background: linear-gradient(#FF7A00 0.2%, #FFB039 99.82%);
    border-width: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    box-shadow: 0px 10px 20px 0px #FF7A0033;

 
}


.text-button {
background: transparent;
border-width: 0px;
height: 22px;
font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 22px;
text-align: center;
color: white;
cursor: pointer;
}

.blue-block-position {
    display: flex;
    flex-direction: row-reverse;
    z-index: -1;
    
}

.blue-block {
    height: 810px;
width: 815px;
background-color: #2B7AF1;
transform: translateY(-10%);
}


.section1 {
    margin: 0 auto;
    width: 1280px;
    display: flex;
    flex-direction: row;
    
}

.img1wrapper {
    display: flex;
    justify-content: end;
    transform: translateY(-198%);
}

.img-sec1 {
    height: 520px;
width: 990px;
}

.leftpart-sec1 {
    transform: translateY(-230%);
    z-index: 3;
}

.title-sec1 {
height: 98px;
width: 413px;
font-family: Montserrat;
font-size: 40px;
font-weight: 800;
line-height: 49px;
text-align: left;
color: black;
}


.par-sec1 {
    height: 66px;
    width: 413px;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    text-align: left;
    color: black;
    margin-top: 20px;
    margin-bottom: 60px;
}


.button-sec1 {
        height: 50px;
        width: 218px;
        border-radius: 25px;
        background: linear-gradient(#FF7A00 0.2%, #FFB039 99.82%);
        border-width: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 2px 2px 20px 20px rgba(15, 15, 29, 0.2);
        cursor: pointer;
      
    }


.text-button-sec1 {
    background: transparent;
    border-width: 0px;
    height: 22px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    color: white;
    cursor: pointer;
    }



    .section2 {
        margin: 0 auto;
        width: 1280px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 170px;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        display: flex;
        justify-content: space-between;
        transform: translateY(-430%);
        margin-bottom: 20px;
        z-index: 3;
        }
        
        .sec2-part1 { grid-area: 1 / 1 / 2 / 2; }
        .sec2-part2 { grid-area: 1 / 2 / 2 / 3; }
        .sec2-part3 { grid-area: 1 / 3 / 2 / 4; }
        .sec2-part4 { grid-area: 1 / 4 / 2 / 5; }


    .sec2-part1 {
        
   height: 231px;
   width: 305px;
   border-radius: 10px;
   border-width: 1px;
   border-color: #111111;
   box-shadow: 2px 2px 40px 20px rgba(15, 15, 29, 0.2);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: white;
    }



    .sec2-part2 {
        
        height: 231px;
        width: 305px;
        border-radius: 10px;
        border-width: 1px;
        border-color: #111111;
        box-shadow: 2px 2px 40px 20px rgba(15, 15, 29, 0.2);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
         }


    .sec2-part3 {
        
        height: 231px;
        width: 305px;
        border-radius: 10px;
        border-width: 1px;
        border-color: #111111;
        box-shadow: 2px 2px 40px 20px rgba(15, 15, 29, 0.2);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
             }

     .sec2-part4 {
        
            height: 231px;
            width: 305px;
            border-radius: 10px;
            border-width: 1px;
            border-color: #111111;
            box-shadow: 2px 2px 40px 20px rgba(15, 15, 29, 0.2);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: white;
                 }

.sec2-par1 {
    height: 66px;
font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 22px;
text-align: center;
color: #111111;
}


.sec2-par2 {
    height: 66px;
font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 22px;
text-align: center;
color: #111111;
}



.sec2-par3 {
    height: 66px;
font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 22px;
text-align: center;
color: #111111;
}


.sec2-par4 {
    height: 66px;
font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 22px;
text-align: center;
color: #111111;
}


.button2 {
        height: 50px;
        width: 218px;
        border-radius: 25px;
        background: linear-gradient(#FF7A00 0.2%, #FFB039 99.82%);
        border-width: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;   
}

.main-images {
    transform: translateY(-110%);
    margin: 0 auto;
    width: 1280px;
}

.main-images-text {
    margin-top: 115px;
height: 44px;
width: 320px;
font-family: Montserrat;
font-size: 36px;
font-weight: 800;
line-height: 44px;
text-align: left;
color: #2B7AF1;
}

.section3 
{     
        margin: 0 auto;
        width: 1280px;
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 300px;
        grid-column-gap: 20px;
        grid-row-gap: 0px;
        margin-bottom: 10px;
        transform: translateX(-1.5%);
        z-index: 1;
    }

.background-wrapper1 {
    position: relative;
    z-index: 1;
}

.third-section-first-image {
background-image: url("../images/Backgroundphoto1.png");
height: 300px;
width: 738px;
border-radius: 10px;
filter: brightness(50%);
position: absolute;
z-index: -1;
}


.first-image-title {
height: 29px;
width: 344px;
font-family: Montserrat;
font-size: 24px;
font-weight: 800;
line-height: 29px;
text-align: left;
margin-left: 56px;
margin-top: 116px;
color: white;
}


.daily-wrapper {
    display: flex;
    flex-direction: row;
}


.daily1 {
    margin-top: 67px;
    margin-left: 56px;
    height: 22px;
    width: 59px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: white;
}

.price1 {
    margin-top: 67px;
    margin-left: 10px;
    height: 24px;
    width: 76px;
    font-family: Montserrat;
font-size: 20px;
font-weight: 800;
line-height: 24px;
text-align: left;
color: white;

  }

.address1 {
    margin-left: 56px;
margin-top: 16px;
height: 24px;
color: white;
font-family: Montserrat;
font-size: 20px;
font-weight: 800;
line-height: 24px;
text-align: left;
display: flex;
flex-direction: row;
}


.button-firstimg {
    height: 33px;
    width: 126px;
    border-radius: 25px;
    background: linear-gradient(#FF7A00 0.2%, #FFB039 99.82%);
    border-width: 0px;
    cursor: pointer;
    margin-left: 173px;
    margin-top: -7px;
  
  
}


.text-button-firstimg {
background: transparent;
border-width: 0px;
height: 17px;
width: 86px;
font-family: Montserrat;
font-size: 17px;
font-weight: 600;
line-height: 22px;
text-align: center;
color: white;
cursor: pointer;
margin-left: 5px;
margin-top: 4px;
}



.background-wrapper2 {
    position: relative;
    z-index: 1;
}

.third-section-second-image {
    background-image: url(../images/Backgroundphoto2.png);
    height: 292px;
    width: 522px;
    border-radius: 10px;
    transform: translateY(+3%); 
    z-index: -1;
    position: absolute;
    filter: brightness(50%);
    margin-left: -20px;
}






.second-image-title {
height: 29px;
width: 344px;
font-family: Montserrat;
font-size: 24px;
font-weight: 800;
line-height: 29px;
text-align: left;
margin-left: 20px;
margin-top: 125px;
color: white;
}


.daily-wrapper {
    display: flex;
    flex-direction: row;
}


.daily2 {
    margin-top: 60px;
    margin-left: 20px;
    height: 22px;
    width: 59px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: white;
}

.price2 {
    margin-top: 60px;
    margin-left: 10px;
    height: 24px;
    width: 76px;
    font-family: Montserrat;
font-size: 20px;
font-weight: 800;
line-height: 24px;
text-align: left;
color: white;

  }

.address2 {
margin-left: 20px;
margin-top: 14px;
height: 24px;
color: white;
font-family: Montserrat;
font-size: 20px;
font-weight: 800;
line-height: 24px;
text-align: left;
display: flex;
flex-direction: row;
}


.button-secondimg {
    height: 33px;
    width: 126px;
    border-radius: 25px;
    background: linear-gradient(#FF7A00 0.2%, #FFB039 99.82%);
    border-width: 0px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: -7px;
  
  
}


.text-button-secondimg {
background: transparent;
border-width: 0px;
height: 17px;
width: 86px;
font-family: Montserrat;
font-size: 17px;
font-weight: 600;
line-height: 22px;
text-align: center;
color: white;
cursor: pointer;
margin-left: 5px;
margin-top: 4px;
}


.section4
{   max-height: 300px;  
    margin: 0 auto;
    width: 1280px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 300px;
    grid-column-gap: 20px;
    grid-row-gap: 0px; 
    transform: translateX(%);
    z-index: 1;
}

.background-wrapper3 {
position: relative;
z-index: 1;
}

.fourth-section-first-image {
background-image: url("../images/Backgroundphoto3.png");
background-repeat: no-repeat;
height: 292px;
width: 522px;
border-radius: 10px;
filter: brightness(50%);
position: absolute;
z-index: -1;
transform: translateY(+3%);
}

.third-image-title {
    height: 29px;
    width: 344px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    text-align: left;
    margin-left: 40px;
    margin-top: 125px;
    color: white;
    }
    
    
    .daily-wrapper {
        display: flex;
        flex-direction: row;
    }
    
    
    .daily3 {
        margin-top: 60px;
        margin-left: 40px;
        height: 22px;
        width: 59px;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
        color: white;
    }
    
    .price3 {
        margin-top: 60px;
        margin-left: 10px;
        height: 24px;
        width: 76px;
        font-family: Montserrat;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    text-align: left;
    color: white;
    
      }
    
    .address3 {
    margin-left: 40px;
    margin-top: 14px;
    height: 24px;
    color: white;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    text-align: left;
    display: flex;
    flex-direction: row;
    }
    
    
    .button-thirdimg {
        height: 33px;
        width: 126px;
        border-radius: 25px;
        background: linear-gradient(#FF7A00 0.2%, #FFB039 99.82%);
        border-width: 0px;
        cursor: pointer;
        margin-left: 16px;
        margin-top: -7px;
        transform: translateX(+8%);
      
      
    }
    
    
    .text-button-thirdimg {
    background: transparent;
    border-width: 0px;
    height: 17px;
    width: 86px;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    color: white;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 4px;
    }




.background-wrapper4 {
    position: relative;
    z-index: 1;
    }
    
    .fourth-section-second-image {
    background-image: url("../images/Backgroundphoto4.png");
    background-repeat: no-repeat;
    height: 300px;
    width: 738px;
    border-radius: 10px;
    filter: brightness(50%);
    position: absolute;
    z-index: -1;
    margin-left: -5px;
    }
    
    .fourth-image-title {
        height: 29px;
        width: 344px;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 800;
        line-height: 29px;
        text-align: left;
        margin-left: 60px;
        margin-top: 125px;
        color: white;
        }
        
        
        .daily-wrapper {
            display: flex;
            flex-direction: row;
        }
        
        
        .daily4 {
            margin-top: 60px;
            margin-left: 60px;
            height: 22px;
            width: 59px;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            text-align: left;
            color: white;
        }
        
        .price4 {
            margin-top: 60px;
            margin-left: 10px;
            height: 24px;
            font-family: Montserrat;
        font-size: 20px;
        font-weight: 800;
        line-height: 24px;
        text-align: left;
        color: white;
        
          }
        
        .address4 {
        margin-left: 60px;
        margin-top: 14px;
        height: 24px;
        color: white;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 800;
        line-height: 24px;
        text-align: left;
        display: flex;
        flex-direction: row;
        }
        
        
        .button-fourthimg {
            height: 33px;
            width: 126px;
            border-radius: 25px;
            background: linear-gradient(#FF7A00 0.2%, #FFB039 99.82%);
            border-width: 0px;
            cursor: pointer;
            margin-left: 217px;
            margin-top: -7px;
          
          
        }
        
        
        .text-button-fourthimg {
        background: transparent;
        border-width: 0px;
        height: 17px;
        width: 86px;
        font-family: Montserrat;
        font-size: 17px;
        font-weight: 600;
        line-height: 22px;
        text-align: center;
        color: white;
        cursor: pointer;
        margin-left: 5px;
        margin-top: 4px;
        }


.location-vector {
    margin-right: 13px;
}


.central-button
{ margin: 0 auto;
    height: 50px;
    width: 304px;
    border-radius: 25px;
    background: linear-gradient(#FF7A00 0.2%, #FFB039 99.82%);
    border-width: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 80px;
}


.text-central-button {
    background: transparent;
    border-width: 0px;
    height: 22px;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    color: white;
    cursor: pointer;
}
