body,
html {
    width: 100%;
    height: 4028px;
}



.header {
background-color: #F4F6F9;
margin-top: 0;
height: 16.5%;
width: 100%;
position: relative;
}


.left-block {
    margin-left: 14.30%;
}


.logo_text {
    display: flex;
    flex-direction: row;
    padding-top: 1.5%;
}


.sports {
    font-family: 'Lato';
font-size: 24px;
line-height: 29px;
text-align: left;
color: #5282F0;
height: 30px;
width: 71px;
margin-left: 0.27%;
position: absolute;
top: 20px;
left: 245px;
}


.first-title {
    font-family: 'Lato';
font-size: 36px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0.03em;
text-align: left;
height: 96px;
width: 546px;
left: 163px;
top: 226px;
margin-top: 133px;
}


.first-paragraph {
margin-top: 4.5%;
 height: 52px;
width: 453px;
font-family: 'Lato';
font-size: 18px;
font-weight: 400;
line-height: 26px;
text-align: left;
}


.buttons-wrapper {
    margin-top: 7.5%;
}

.google-logo {
    cursor: pointer;
}

.apple-logo {
    margin-right: 2.7%;
    cursor: pointer;
}


.phone-images {
position: absolute;
right: 0%;
top: 0%;
}



.section1 {
    width: 100%;
    height: 14.697%;
    z-index: -1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 1) 100%);

}

.section1-leftpart {
    position: relative;
    height: 592px;
    width: 805px;
    opacity: 50%;
}




.img-chelseavsarsenal {
    position: absolute;
    top: 744px;
    left: 147px;
    z-index: 1;
}


.img-goal {
    position: absolute;
    z-index: 0;
    top: 961px;
    left: 289px;
    box-shadow: -8px 8px 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.section1-rightpart {
    width: 635px;
    z-index: 3;
    box-shadow: -170px 0px 80px 3px white;
}


.section1-title1 {
font-family: 'Lato';
font-size: 16px;
font-weight: 700;
line-height: 21px;
text-align: left;
color: #00ADEE;
margin-top: 22%;
}


.section1-title2 {
    font-family: 'Lato';
font-size: 28px;
font-weight: 700;
line-height: 37px;
letter-spacing: 0em;
text-align: left;
margin-top: 4.5%;
}


.section1-paragraph {
    font-family: 'Lato';
font-size: 16px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
height: 185px;
width: 407px;
color: #4F4F4F;
margin-top: 4.5%;
margin-bottom: 3.7%;
}


.learn-more {
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #00ADEE;
    text-decoration: none;
}



.section2 {
    width: 100%;
    height: 12.3%;
    padding-top: 14.55%;
    background-image: url(../images/SAMPLE05sec3-immy.png);
    background-repeat: no-repeat;
    background-position: right;
}

.section2-text {
    margin-left: 14.30%;
}

.section2-title1 {
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    color: #00ADEE;
    }
    
    
    .section2-title2 {
        font-family: 'Lato';
    font-size: 28px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 2.5%;
    }
    
    
    .section2-paragraph {
        font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    width: 480px;
    height: 139px;
    color: #4F4F4F;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    }



    .learn-more1 {
        text-decoration: none;
        height: 22px;
        width: 582px;
        font-family: Lato;
        font-size: 16px;
        font-weight: 700;
        line-height: 21px;
        text-align: left;
        color: #00ADEE;
        
    }


.section3 {
    width: 100%;
    height: 18.24%;
    background-image: url(../images/Group\ 696background-sec3.png);
    
}

.section3-title {
    height: 37px;
font-family: 'Lato';
font-size: 28px;
font-weight: 700;
line-height: 37px;
text-align: left;
color: white;
text-align: center;
padding-top: 5.34%;
margin: 0 auto;
margin-bottom: 2.9%;
}


.sec3-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 90px;
    grid-row-gap: 20px;
    margin-left: 14.3%;
    margin-right: 14.3%;
  }

    .div1 { grid-area: 1 / 1 / 2 / 2;
    color: white;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
     }
    .div2 { grid-area: 1 / 2 / 2 / 3;
        color: white;
        font-family: 'Lato';
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left; }
    .div3 { grid-area: 1 / 3 / 2 / 4;
        color: white;
        font-family: 'Lato';
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left; }
    .div4 { grid-area: 2 / 1 / 3 / 2;
        color: white;
        font-family: 'Lato';
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left; }
    .div5 { grid-area: 2 / 2 / 3 / 3;color: white;
        font-family: 'Lato';
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left; }
    .div6 { grid-area: 2 / 3 / 3 / 4;
        color: white;
        font-family: 'Lato';
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left; }
    .div7 { grid-area: 3 / 1 / 4 / 2;
        color: white;
        font-family: 'Lato';
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left; }
    .div8 { grid-area: 3 / 2 / 4 / 3;
        color: white;
        font-family: 'Lato';
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left; }
    .div9 { grid-area: 3 / 3 / 4 / 4;
        color: white;
        font-family: 'Lato';
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left; }


.section4 {
width: 100%;
height: 10.7%;
display: flex;
align-items: center;
flex-direction: column;
position: relative;
}


.title-section4 {
    height: 37px;
    width: 252px;
    font-family: 'Lato';
font-size: 28px;
font-weight: 700;
line-height: 37px;
text-align: center;
margin-top: 4%;
margin-bottom: 4%;

}


.section4-reviews {
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
}


.left-vector {
    position: absolute;
    left: 95px;
    bottom: 150px;
    cursor: pointer;
}


.right-vector {
    position: absolute;
    right: 195px;
    bottom: 150px;
    cursor: pointer;
}


.dots {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
}


.dot {
    margin-right: 11px;
    cursor: pointer;
}


.section5 {
    height: 6.9%;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 14.3%;
    padding-right: 14.3%;
}

.title-section5 {
height: 37px;
width: 320px;
font-family: 'Lato';
font-size: 28px;
font-weight: 700;
line-height: 37px;
text-align: center;
color: #333333;
margin-top: 3.5%;
}


.logos-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 6%;
}


.sports-logo {
    transform: translateY(30%);
}

.d-technology {
    transform: translateY(30%);
}


.sky-sports {
    transform: translateY(20%);
}


.section6 {
    width: 100%;
    height: 12%;
    display: flex;
    flex-direction: row;
}

.sec6-text {
margin-top: 9.4%;
margin-left: 5.3%;
}

.sec6-title {
    height: 37px;
width: 554px;
font-family: 'Lato';
font-size: 28px;
font-weight: 700;
line-height: 37px;
text-align: left;
color: #333333;
margin-bottom: 35px;
}


.sec6-p {
height: 125px;
width: 535px;
font-family: 'Lato';
font-size: 16px;
font-weight: 400;
line-height: 25px;
text-align: left;
color: #4F4F4F;
margin-bottom: 7%;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.apple-store {
    margin-right: 5.8%;
    cursor: pointer;
}

.google-play {
    cursor: pointer;
}

.footer {
    width: 100%;
    height: 3.15%;
    background-color: #00ADEE;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer-1block {
    margin-left: 14.3%;
}


.sports-footer {
    font-family: 'Lato';
font-size: 24px;
line-height: 29px;
text-align: left;
color: #5282F0;
height: 30px;
width: 71px;
margin-left: 0.27%;
position: absolute;
left: 245px;
}

ul {
    display: flex;
    flex-direction: row;
}






.download {
    margin-right: 36px;
}

.download-text {
    text-decoration: none;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    color: white;
}

.support {
    margin-right: 36px;
}



.developer {
    margin-right: 36px;
}


.privacy {
    margin-right: 36px;
}


.footer-3block {
    display: flex;
    flex-direction: row;
    margin-right: 14.3%;
}

.footer-icon {
    margin-right: 14px;
    cursor: pointer;
}